<header id="top-header">
    <span class="siteName">
        <a class="siteName__link" href="/" title="Return to home page"><h1>CSE Motors</h1></a>
    </span>
    <div id="tools">
        <a class="tools__link" title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>