

    <span id="on" class="material-symbols-outlined show-password">
        visibility
    </span>
    <span id="off" class="material-symbols-outlined hide-password">
        visibility_off
    </span>


