
    <h2>Welcome to CSE Motors!</h2>
    <%# messages() %>
    <div id="hero-container">
        <div id="hero-content">
            <ul>
                <h3>DMC Delorean</h3>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="/" class="btn"><img src="../images/site/own_today.png" alt="own-today-button"></a>
        </div>
        <div>
            <img id="hero-img" src="../images/vehicles/delorean.jpg" alt="delorean-vehicle">
        </div>
    </div>

    <div id="main__section-container">
        <section id="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly." (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!." (5/5)</li>
            </ul>
        </section>

        <section id="upgrade-section">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade">
                <div>
                    <div class="upgrade__item">
                        <img src="../images/upgrades/flux-cap.png" alt="flux-cap">
                    </div>
                    <a href="/"><p>Flux Capacitor</p></a>
                </div>
                
                <div>
                    <div class="upgrade__item">
                        <img src="../images/upgrades/flame.jpg" alt="flame-decals">
                    </div>
                    <a href="/"><p>Flame Decals</p></a>
                </div>
                
                <div>
                    <div class="upgrade__item">
                        <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper-stickers">
                    </div>
                    <a href="/"><p>Bumper Stickers</p></a>
                </div>
                
                <div>
                    <div class="upgrade__item">
                        <img src="../images/upgrades/hub-cap.jpg" alt="hub-caps">
                    </div>
                    <a href="/"><p>Hub Caps</p></a>
                </div>
                
            </div>
            
        </section>


    </div>

    
