/***************************************************************
* VARIABLES
****************************************************************/
$highligt-color: #05bff7;

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/******* Global Settings ***************/
* {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/***************************************************************
* DEFAULT CSS SMALLER SCREEN
****************************************************************/
#wrapper {
    display: flex;
    flex-direction: column;
}

/******* Headers ***************/

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.siteName__link, .tools__link {
    text-decoration: none;
}

#top-header {
    @extend .siteName__link;
    display: flex;
    justify-content: space-between;
}

/******* Navigation Bar ***************/

nav ul {
    display: flex;
    text-align: center;
    background-color: black;
    height: 3rem;
    align-items: center;
    padding: 0;

    :hover  {
        background-color: #05bff7;
    }

    li {
        flex: 1 1 auto;
        list-style: none;
        width: 2px;
        height: 100%;

        a {
            @extend .siteName__link;
            color: white;
            vertical-align: -50%;
        }
    }
}

/******* Hero Content/Banner ***************/
#hero-container {
    width: 100%;
}

#hero-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgba(255,255,255,.6);
    color: $highligt-color;
    position: absolute;
    z-index: 2;

    ul {
        list-style: none;
        padding: 0;
        margin: 2px;

        > * {
            color: $highligt-color;
        }

        h3 {
            margin: 0;
        }
    }
}
.btn img{
    width: 80%;
}

#hero-img {
    width: 70%;
    margin: 0 10%;
    z-index: 1;
}

/******* Product section ***************/

.upgrade {
    display: flex;
    flex-wrap: wrap;  
    text-align: center;
    gap: 10px;
    justify-content: center;

    div {
        flex-basis: 45%;
        align-items: center;

        p {
            margin: 0;
            color: blue;
        }

        img {
            vertical-align: middle;
            position: absolute;
            transform: translate(-50%,20%);
        }
    }
}

.upgrade__item {
    background-color: $highligt-color;
    border: black solid 1px;
    min-height: 90px;
}

/******* Reviews section ***************/

#reviews ul {
    padding-left: 1.5rem;
}

/******* Individual Vehicle/Product Page ******************/
#vehicle-page img, .inv_display__img {
    width: 100%;
}

#vehicle-page section p {
    font-size: 1.5rem;
}

#vehicle-page section p span {
    font-weight: bolder;
}

.vehicle_page__price {
    background-color: rgba($highligt-color, .25);
    padding: 1rem;
    font-weight: bolder;
}

#inv-display {
    list-style-type: none;
    padding: 0;
}

/************** Error page ************************************/
@keyframes error-page-animation {
    from {background-position: 100%;}
    to {background-position: -50000px;}
 }

.sprite-div {
    width: 180px;
    height: 220px;
    background-image: url("../images/error-sprite.webp");
    animation-name: error-page-animation;
    animation-duration: 1.5s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    margin: 0 auto;
    opacity: .45;
}

#error {
    text-align: center;
}

/************** Login page ************************************/

input {
    height: 2rem;
    border: 1px solid;
    width: 100%;
}

#login {
    width: 300px;
    margin: 0 auto;
}
#login-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 2rem;

    label {
        font-weight: bolder;
    }

    

    input[type="submit"] {
        background-color: $highligt-color;
        width: 30%;
        border: none;
        padding: 5px;
        align-self: center;
        font-weight: bolder;
        margin-top: 1rem;
    }

    .login-form__submit-btn:hover {
        background-color: black;
        color: white;
    }
}

#register {
    @extend #login;
    
    #register-form {
        @extend #login-form;

        small {
            font-size: 12px;
            color: gray;
            font-style: italic;
        }
    }
}



/******************** Pw Visibility ******************************/
.hide-password {
    display: none;
}

.show-password {
    display: inline;
}

/************** Registration page ************************************/
.form-validation {
    position: relative;
}

.validation-icons {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 22px;
    span {
        position: absolute;
        font-size: 1.2rem;
    }
}

.form-validation.valid {
    input {
        border-color: #16de4b;
    }

    span.done {
        color: #16de4b;
        visibility: visible;
    }
}

.form-validation.invalid {
    input {
        border-color: red;
    }

    span.error {
        color: red;
        visibility: visible;

    }
}

ul.notice {
    list-style: none;
    padding: 5px;

    li {
        vertical-align: middle;
        float: left;
        background-color: $highligt-color;
        width: 100%;
        margin-bottom: .5rem;
        padding: 5px;

        span {
            float: right;
            padding: 3px;

            :hover {
                background-color: white;
            }
        }
    }
    
}

/************** Add Inventory page ************************************/
#add-inventory, #add-classification {
    @extend #login;
}
textarea[name="inv_description"], select[name="classification_id"] {
    width: 100%;
}

#add-inventory-form, #add-classification-form, #edit-inventory-form {
    @extend #login-form;
}
.new-classifiction__p {
    font-size: .75rem;
    color: darkslategray;
    font-style: italic;
}

/************** Manage Inventory page ************************************/
#classification, #update-info, #update-pw {
    @extend #login;
    margin: 0;
}

#delete-inventory {
    @extend #login;
}

#delete-inventory-form {
    @extend #login-form;
}

#delete-inventory-form input {
    border-color: gray;
}

#delete-inventory-form label {
    font-weight: bolder;
}

#delete-inventory-form small {
    font-weight: bolder;
    color: red;
}

/********************** For ratings **************************/
.form-container {
    @extend #login;
}

#review-form {
    @extend #login-form;
}

.review {
    position: relative;
    background-color: lightgray;
    border-radius: 5px;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-right: 60px solid white;
}

ul.review:after {
    content: '';
    position: absolute;
    right: -1.5rem;
    top: 20px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-left: lightgray solid 1.5rem;
}

#star-rating {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.rating:hover, 
.rating:has(~ .rating:hover) {
    background-color: $highligt-color;
}

.active {
    background-color: $highligt-color;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:required, #star-rating:after {
    content: '* Required';
    color: red;
    font-style: italic;
}




/***************************************************************
* FOR BIGGER SCREEN
****************************************************************/
@media screen and (min-width: 768px) {
    body {
        background-image: url(/images/site/small_check.jpg);
        background-repeat: no-repeat;
    }

    #wrapper {
        background-color: white;
        border: $highligt-color solid 5px;
        width: 85%;
        min-width: 85%;
        margin: 0 auto;
        padding: 1rem;
    }

    #hero-content {
        width: 20%;
        position: absolute;
        z-index: 2;
        padding: 1rem;
    }

    .btn img {
        width: 50%;
    }

    #main__section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .upgrade {
        justify-content: flex-start;
    }

    #upgrade-section {
        grid-row: 1 / 2;
    }
    
    #reviews {
        grid-column: 2 / 3;

        ul li {
            line-height: 2.5rem;
        }
    }

    /******************Individual Vehicle/Product page**********************/
    #vehicle-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #inv-display {
        display: flex;
        gap: .5rem 1rem;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    #inv-display li {
        flex: 0 1 30%;
    }

    /************** Registration page ************************************/

    ul.notice {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            width: 30%;
        }
    }

    /************** Review page ************************************/
    #review-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .form-container {
        grid-column: 2;
    }

    #review-container__all-reviews {
        grid-column: 1;
        grid-row: 1;
    }
}