/***************************************************************
* VARIABLES
****************************************************************/
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box; }

/******* Global Settings ***************/
* {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

/***************************************************************
* DEFAULT CSS SMALLER SCREEN
****************************************************************/
#wrapper {
  display: flex;
  flex-direction: column; }

/******* Headers ***************/
h1 {
  font-family: Arial, Helvetica, sans-serif; }

h2, h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.siteName__link, #top-header, nav ul li a, .tools__link {
  text-decoration: none; }

#top-header {
  display: flex;
  justify-content: space-between; }

/******* Navigation Bar ***************/
nav ul {
  display: flex;
  text-align: center;
  background-color: black;
  height: 3rem;
  align-items: center;
  padding: 0; }
  nav ul :hover {
    background-color: #05bff7; }
  nav ul li {
    flex: 1 1 auto;
    list-style: none;
    width: 2px;
    height: 100%; }
    nav ul li a {
      color: white;
      vertical-align: -50%; }

/******* Hero Content/Banner ***************/
#hero-container {
  width: 100%; }

#hero-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  color: #05bff7;
  position: absolute;
  z-index: 2; }
  #hero-content ul {
    list-style: none;
    padding: 0;
    margin: 2px; }
    #hero-content ul > * {
      color: #05bff7; }
    #hero-content ul h3 {
      margin: 0; }

.btn img {
  width: 80%; }

#hero-img {
  width: 70%;
  margin: 0 10%;
  z-index: 1; }

/******* Product section ***************/
.upgrade {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  justify-content: center; }
  .upgrade div {
    flex-basis: 45%;
    align-items: center; }
    .upgrade div p {
      margin: 0;
      color: blue; }
    .upgrade div img {
      vertical-align: middle;
      position: absolute;
      transform: translate(-50%, 20%); }

.upgrade__item {
  background-color: #05bff7;
  border: black solid 1px;
  min-height: 90px; }

/******* Reviews section ***************/
#reviews ul {
  padding-left: 1.5rem; }

/******* Individual Vehicle/Product Page ******************/
#vehicle-page img, .inv_display__img {
  width: 100%; }

#vehicle-page section p {
  font-size: 1.5rem; }

#vehicle-page section p span {
  font-weight: bolder; }

.vehicle_page__price {
  background-color: rgba(5, 191, 247, 0.25);
  padding: 1rem;
  font-weight: bolder; }

#inv-display {
  list-style-type: none;
  padding: 0; }

/************** Error page ************************************/
@keyframes error-page-animation {
  from {
    background-position: 100%; }
  to {
    background-position: -50000px; } }
.sprite-div {
  width: 180px;
  height: 220px;
  background-image: url("../images/error-sprite.webp");
  animation-name: error-page-animation;
  animation-duration: 1.5s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  margin: 0 auto;
  opacity: .45; }

#error {
  text-align: center; }

/************** Login page ************************************/
input {
  height: 2rem;
  border: 1px solid;
  width: 100%; }

#login, #register {
  width: 300px;
  margin: 0 auto; }

#login-form, #register #register-form {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 2rem; }
  #login-form label, #register #register-form label {
    font-weight: bolder; }
  #login-form input[type="submit"], #register #register-form input[type="submit"] {
    background-color: #05bff7;
    width: 30%;
    border: none;
    padding: 5px;
    align-self: center;
    font-weight: bolder;
    margin-top: 1rem; }
  #login-form .login-form__submit-btn:hover, #register #register-form .login-form__submit-btn:hover {
    background-color: black;
    color: white; }

#register #register-form small {
  font-size: 12px;
  color: gray;
  font-style: italic; }

/******************** Pw Visibility ******************************/
.hide-password {
  display: none; }

.show-password {
  display: inline; }

/************** Registration page ************************************/
.form-validation {
  position: relative; }

.validation-icons {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 22px; }
  .validation-icons span {
    position: absolute;
    font-size: 1.2rem; }

.form-validation.valid input {
  border-color: #16de4b; }
.form-validation.valid span.done {
  color: #16de4b;
  visibility: visible; }

.form-validation.invalid input {
  border-color: red; }
.form-validation.invalid span.error {
  color: red;
  visibility: visible; }

ul.notice {
  list-style: none;
  padding: 5px; }
  ul.notice li {
    vertical-align: middle;
    float: left;
    background-color: #05bff7;
    width: 100%;
    margin-bottom: .5rem;
    padding: 5px; }
    ul.notice li span {
      float: right;
      padding: 3px; }
      ul.notice li span :hover {
        background-color: white; }

/***************************************************************
* FOR BIGGER SCREEN
****************************************************************/
@media screen and (min-width: 768px) {
  body {
    background-image: url(/images/site/small_check.jpg);
    background-repeat: no-repeat; }

  #wrapper {
    background-color: white;
    border: #05bff7 solid 5px;
    width: 85%;
    min-width: 85%;
    margin: 0 auto;
    padding: 1rem; }

  #hero-content {
    width: 20%;
    position: absolute;
    z-index: 2;
    padding: 1rem; }

  .btn img {
    width: 50%; }

  #main__section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; }

  .upgrade {
    justify-content: flex-start; }

  #upgrade-section {
    grid-row: 1 / 2; }

  #reviews {
    grid-column: 2 / 3; }
    #reviews ul li {
      line-height: 2.5rem; }

  /******************Individual Vehicle/Product page**********************/
  #vehicle-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }

  #inv-display {
    display: flex;
    gap: .5rem 1rem;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center; }

  #inv-display li {
    flex: 0 1 30%; }

  /************** Registration page ************************************/
  ul.notice {
    display: flex;
    flex-direction: column;
    align-items: center; }
    ul.notice li {
      width: 30%; } }

/*# sourceMappingURL=styles.css.map */
